
.section-titulo{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px;
 
    border-color: rgb(33, 34, 34);
    border-width: 1px;
    border-style: solid;
}
.section-subtitle{/* 
    text-align: center; */
    font-weight: 600;
    font-size: 25px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 50px;
 
    border-bottom-color: rgb(33, 34, 34);
    border-bottom-style: solid;
    border-width: 1px;
}
.texto{/* 
    width: 300px; */
    padding: 15px 75px;
    font-size: 15px;
}


/*------------- H I S T O R I A ------------*/

.hist-container{
    margin: 50px 0px;
    background-color:rgb(130, 189, 135);
    padding: 20px 0;
}

/*------------- T I P O S ------------*/
.tipos-container{
    margin: 50px 0px;
    background-color:rgb(130, 177, 189);
    padding: 20px 0;
}

/*-------------  C L A S S I F I C A Ç A O ------------*/
.classificacao-container{
    margin: 50px 0px;
    background-color:rgb(189, 130, 130);
    padding: 20px 0;
}