@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.info-container{
    padding: 2% 5%;
}

.color-container{
    margin: 50px 0px;
    background-color:rgb(213, 213, 226);
    padding: 50px;

    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(32, 34, 41, 0.171);
}

.section-titulo{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px;
 
    border-color: rgb(33, 34, 34);
    border-width: 1px;
    border-style: solid;
}
.section-subtitle{
    font-weight: 600;
    font-size: 25px;
    padding: 10px 20px;
    margin: 20px;
 
    border-bottom-color: rgb(33, 34, 34);
    border-bottom-style: solid;
    border-width: 1px;
}
.texto{
    padding: 15px 75px;
    font-size: 15px;
}
.paragrafo{
    margin-bottom:  2%;
}
.img-item{
    width: 400px;
    border-radius: 10px;
}
.lista{
    padding: 10px;
}
.lista-title{
    font-weight: 600;
    font-size: 25px;
    padding: 10px 20px;
    text-align: center;
}
.item-lista{
    margin-top: 5px;
    font-size: 15px;
}
.fonte-link{
    font-size: 12px;
    color: rgb(151, 136, 207);
}
.box-fonte{
    text-align: right;
}

table {
    padding: 20px;
}

thead {
    background: #575758;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}
.nome-agrotox{
    background: #bbbbd3;
    font-weight: bold;
}

tr, th {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    border: 1px solid black;
    padding: 10px 15px;
    vertical-align:top;
    text-align: center;
}

.img-estrutura-quim{
    width: 200px;/* 
    padding: 2%; */
}