
.flex-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 300px;
}

.box-text{
    align-items: center;
    width: 75%;
}

.box-img{
    align-items: center;
    width: 25%;
}
 
/* ------------M O B I L E------------ */
@media screen and (max-width: 768px) {
 
    
    
}  
 

