.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-text{
    padding: 0 5%;
}
.box-img{/* 
    padding-right: 1%; */
}
 
/* ------------M O B I L E------------ */
@media screen and (max-width: 768px) {
 
    .flex-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .color-container{
        padding: 10% 5%;
    }

    .box-text{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 5% 0;/* 
        padding: 0 1%; */
    }
    .section-titulo{
        font-size: 38px;
    }
    .section-subtitle{
        font-size: 30px;
    }
    .fonte-link{
        font-size: 20px;
    }
    .texto{
        font-size: 28px;
        padding: 5% 10%;
    }
    
    .lista-title{
        padding: 10% 0;
        font-size: 32px;
    }
    
    .box-img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .img-item{
        width: 100%;
        border-radius: 10%;
    }

    .item-lista{
        margin-top: 5px;
        font-size: 28px;
        text-align: center;
    }
}  
 

