.color-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historia .flex-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 300px;
}

.tipos .flex-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;    
}

.classificacoes .flex-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
}

.box-text{
    width: 70%;
}
.box-img{
    width: 30%;
    padding: 1%;
}
 
/* ------------M O B I L E------------ */
@media screen and (max-width: 768px) {
 
    .box-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .box-img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}  
 

