.info-container{
    margin: 50px 0px;
    background-color:rgb(130, 189, 135);
    padding: 20px 0;
}

.box-descricao{
    margin: 0px 150px;
}

.section-subtitle{/* 
    text-align: center; */
    font-weight: 600;
    font-size: 25px;
    padding: 20px 20px;
    margin-top: 10px;
    margin-left: 50px;
 
    border-bottom-color: rgb(33, 34, 34);
    border-bottom-style: solid;
    border-width: 1px;
}
.section-titulo{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px;
 
    border-color: rgb(33, 34, 34);
    border-width: 1px;
    border-style: solid;
}



.text-group{
    text-align: justify;
    width: 300px;
    padding: 5px 120px;
}
.text-group h3{
    font-size: 20px;
    padding: 10px 0;
}
.text-group p{
    width: 300px;
    padding: 5px 75px;
    font-size: 15px;
}
/* ------------D E S C R I C A O------------ */
.descricao-container{
    width: 70%;
    margin-bottom: 75px 0px;
}
.descricao{
    text-align: justify;
    width: 1050px;
    padding: 10px 0;
    margin-left: 50px;
}
/* ------------O B J E T I V O S------------ */
.objetivos-container{
    border-color: rgb(33, 34, 34);
    border-width: 1px;
    border-style: solid;
    margin: 10px 50px;
    width: 30%;
    padding: 10px;
}

.objetivos-container .section-subtitle{
    font-weight: 600;
    font-size: 25px;
 
    border-bottom-color: rgb(33, 34, 34);
    border-bottom-style: solid;
    border-width: 1px;
}
.list-objs{
    margin: 10px 50px;
}
 .objetivos-item{

 }
 /* ------------P R O J E T O S------------ */
.projetos-container{/* 
    margin: 0 50px; */
    background-color:rgb(208, 245, 244);
    padding: 20px 0;
}
.proj-box{
    margin: 0px 150px;
}
.list-projs{
    margin: 10px 40px;
    border-color: rgb(33, 34, 34);
    border-width: 1px;
    border-style: solid;
}
.item-projs{

    height: 55px;
	background-color: rgb(34, 36, 43);
	text-align: center;
	margin: 1%;
}
.item-projs a{
    text-decoration: none;
	color: rgb(245, 245, 245);
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
}
.item-projs:hover {
	box-shadow: 4px 4px 4px rgba(32, 34, 41, 0.507);
}

.item-projs a:before {
	content: ''; 
	display: block;
	width: 10px;
	height: 20px;/* 
	margin: 5px auto; */
}

/* ------------M A T E R I A S------------ */

.materias-envolvidas{
    margin: 50px 0px;
    background-color: rgb(199, 180, 180);
    padding: 20px 0;
}

.disciplinas-container{
    margin: 0px 150px;
    margin-bottom: 50px;
}

.disciplinas-container .text-group{
    text-align: justify;
    width: 500px;
    margin-left: 50px;
}

.mat-title{
    font-size: 30px;
    padding: 10px 0;
}
 /* ------------P R O F F E S S O R------------ */
 .nome{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding: 20px 20px;
    margin-top: 10px;
 
    border-bottom-color: rgb(33, 34, 34);
    border-bottom-style: solid;
    border-width: 1px;
}
 
.prof-container{
    margin: 10px 250px;
}
 
.imgprof{
    text-align: center;
    width: 175px;
 
    margin: 20px 0;
    padding: 5px;
 
    border-color: rgb(31, 34, 34);
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
 
}
 
.link-box{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
 
    margin-top: 20px;
    padding-bottom: 50px;
}
.linkchar{
   
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(31, 34, 34);
 
    padding: 20px 50px;
    border-color: rgb(33, 34, 34);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin: 10px 20px;
}
 
.linkchar:hover{
    border-width: 2px;
    border-style: outset;
}
 
 
