.info-container{
 
}
.info-container h1{
 
}
.info-container h2{
    
}
/* ------------I D E I A S   P R I N C I P A I S------------ */
.descricao-container{
    margin: 0 50px;
    background-color:rgb(130, 189, 135);
    padding: 20px 0;
}
.ideiaobjetivo{
 
}
 
/* ------------A L U N O------------ */
.materias-envolvidas{
    margin: 0px 50px;
    background-color: rgb(204, 138, 138);
    padding: 20px 0;
}
 
 
/* ------------A L U N O------------ */
.projetos-container{
 
}

