@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*
font-family: 'Quicksand', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Fredoka One', cursive;

*/

p{
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-family: 'Quicksand', sans-serif;
}
h2{
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(228, 226, 229);
}
/* ----------- T O P O ------------*/
body{
    background-color: rgb(241, 234, 243);
   
}
 
.cabecalho-container{
    background-color: rgb(0,0,0);
    box-shadow: 4px 4px 4px rgba(32, 34, 41, 0.507);
    
}
 
.cabecalho img{
    width: 30px;
    margin-left: 25px;
    padding: 15px 0;
}
 
.cabecalho h1{
    font-size: 40px;/* 
    text-transform: uppercase;
    font-weight: 600; */
    color: rgb(228, 226, 229);
    font-family: 'Lobster', cursive;
}
 
.subtitle{
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100px;
    text-align: left;
    border-radius: 7px;
 
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px 40px 10px 10px;
    color:rgb(228, 226, 229);
}
.subtitle h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.subtitle p{
    font-size: 15px;
}
 
.cabecalho-nav{
    padding: 0 20px 10px 100px;
    border-bottom: solid rgb(228, 226, 229);
    border-width: 1px;
}
 
.item-nav{
    padding: 0 20px;
    text-decoration: none;
 
    border-left: solid rgb(228, 226, 229);
    border-width: 1px;
 
    text-transform: uppercase;
    color: rgb(228, 226, 229);

    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}
 
/* ----------------------- F I M ------------------------*/
 
.rodape{
    background-color:  rgb(0, 0, 0);
}
 
.rodape p{
    color: rgb(228, 226, 229);
    font-size: 15px;/* 
    font-weight: 200; */
    margin-right: 50px;
 
}
.rodape img{
    width: 200px;
    margin-left: 50px;
    padding: 15px 0;
}
 
 
 
 

