a{
    text-decoration: none;
    color: rgb(240, 240, 240);
}
/* ----------- T O P O ------------*/
body{
    background-color: rgb(240, 240, 240);
   
}
 
.cabecalho-container{
    background-color: rgb(34, 36, 43);
}
 
.cabecalho img{
    width: 50px;
    margin-left: 25px;
    padding: 15px 0;
}
 
.cabecalho h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(240, 240, 240);
}
 
.subtitle{
    position: fixed;
    background-color: rgb(34, 36, 43);
    width: 100px;
    text-align: left;
 
    padding: 10px 40px 10px 10px;
    color: rgb(240, 240, 240);
}
.subtitle h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.subtitle p{
    font-size: 15px;
}
 
.cabecalho-nav{
 
    font-size: 20px;
    font-weight: 700;
 
    padding: 0 20px 10px 100px;
    border-bottom: solid rgb(240, 240, 240);
    border-width: 1px;
}
 
.item-nav{
    padding: 0 20px;
    text-decoration: none;
 
    border-left: solid rgb(240, 240, 240);
    border-width: 1px;
 
    text-transform: uppercase;
    color: rgb(240, 240, 240);
}
 
/* ----------------------- F I M ------------------------*/
 
.rodape{
    background-color:  rgb(0, 0, 0);
}
 
.rodape p{
    color: rgb(240, 240, 240);
    font-size: 15px;
    font-weight: 200;
    margin-right: 50px;
 
}
.rodape img{
    width: 200px;
    margin-left: 50px;
    padding: 15px 0;
}
 
 
 
 

